@{
    ViewData["Title"] = "Home Page";
}

@*모델 전달 예제*@
@model MvcMovie.Controllers.Person

@*구성 주입 예제*@
@using Microsoft.Extensions.Configuration
@using MvcMovie.Services
@inject IConfiguration Configuration
@{
    string myValue = Configuration["root:parent:child"];
}

@*서비스주입 예제*@
@inject IDateTime dateTime

    <div class="text-center">
        @for (var i = 1; i < 3; i++)
        {
            <h1 class="display-4">Welcome</h1>
            <h2>@(ViewData["sample"])</h2>
            <p>@(Model.name)</p>
            <p>@myValue @dateTime.Now</p>
        }

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
